<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/404.css">
	<title>404</title>
</head>
<body>
	<div class="container">
		<div class="banner-top"></div>
		<div class="sorry">Sorry</div>
		<div class="info">
			<p>This page is currently unavailable</p>
			<p><del>Please don't be like the cat above</del></p>
			<p><a href="javascript:history.go(-1)">Return to the previous page</a></p>
			<p><del>Or stay like this</del></p>
		</div>
		<div class="banner-bottom"></div>
	</div>
	<div class="footer">
		<p>
			©&nbsp;2016&nbsp;Zhilan&nbsp;Zhou
		</p>
	</div>
<script src="../public/libs/jquery/dist/jquery.min.js"></script>
<script src="../public/js/404.js"></script>
</body>
</html>