<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/main-work.css">
	<title>main-work</title>
</head>
<body>
	<div class="header">
		<p class="title">Works</p>
		<a href="./main.html">Return</a>
	</div>
	<div class="container">
		<ul>
			<li class="active">Programming</li>
			<li>Designing</li>
			<li>Others</li>
			<div style="clear: both;"></div>
		</ul>
	</div>
<script src="../public/libs/jquery/dist/jquery.min.js"></script>
<script src="../public/js/main-work.js"></script>
</body>
</html>