<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/main-ep.css">
	<title>main-ep</title>
</head>
<body>
	<div class="header">
		<p class="title">Experiece</p>
		<a href="./main.html">Return</a>
	</div>
	<div class="container">
		<ul>
			<li>
				<p>Intern in Cheetah Mobile Inc, Beijing, China</p>

				<p>Collaborated with the development team to modify the screen saver animation interface on the Android app Clean Master</p>
			</li>
			<li></li>
		</ul>
	</div>
<script src="../public/libs/jquery/dist/jquery.min.js"></script>
<script src="../public/js/main-ep.js"></script>
</body>
</html>