<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/main.css">
	<title>main</title>
</head>
<body>
	<div class="container">
		<p class="name">Zhilan Zhou</p>
		<p class="professional"><i>Professional side</i></p>
		<a href="#" class="resume">Resume in pdf</a>
		<a href="./main-ep.html" class="experience">Experience</a>
		<a href="./main-work.html" class="work">Works</a>
		<a href="#" class="linkedin">in</a>

		<a href="#" class="blog">Blog</a>
		<a href="#" class="recording">Recording</a>
		<a href="#" class="construction">In construction</a>
		<p class="spare-time">Spare time</p>
	</div>
<script src="../public/libs/jquery/dist/jquery.min.js"></script>
<script src="../public/js/main.js"></script>
</body>
</html>