<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/open.css">
	<title>open</title>
</head>
<body>
	<div class="header">
		<h1>Z's Place</h1>	
	</div>
	<div class="container">
		<div class="z" id="z"></div>
		<a href="./main.html" class="enter-en">Enter</a>
		<a href="#" class="enter-zh">进入</a>
		<span class="about">All about me.</span>
	</div>
	<div class="footer">
		<p>
			©&nbsp;2016&nbsp;Zhilan&nbsp;Zhou
		</p>
	</div>
<script src="../public/libs/jquery/dist/jquery.min.js"></script>
<script src="../public/js/open.js"></script>
</body>
</html>