*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Microsoft Yahei';
	background: #8BA1DA;
}

.container{
	width: 100%;
	text-align: center;
}

.banner-top{
	margin: 50px auto 0;
	width: 400px;
	height: 250px;
	background: url(../img/404-top.png) no-repeat;
	background-size: 100% 100%;
}

.sorry{
	color: #E9C387;
	font-size: 80px;
}

.info p:first-child{
	color: #E9C387;
	font-size: 35px;
}

.info p:nth-child(2){
	color: #5F76A0;
}

.info p:nth-child(3) a{
	text-decoration: none;
	color: #E9C387;
	font-size: 35px;
}

.info p:nth-child(3) a:hover{
	color: #fff;
}

.info p:last-child{
	color: #5F76A0;
}

.banner-bottom{
	margin: 50px auto 0;
	width: 400px;
	height: 120px;
	background: url(../img/404-bottom.png) no-repeat;
	background-size: 100% 100%;
}

.footer{
	margin-top: 30px;
}
.footer p{
	margin-right: 30px;
	margin-bottom: 20px;
	text-align: right;
	color: #697EB3;
	font-size: 25px;
}